$primary-color: #225ec4;
$secondary-color: #ff3b00;
$padding: 18px 16px;
$border-radius: 8px;
$headerHeight: 94px;

// MEDIA QUERIES VARIABLES
$breakpoints: (
    xsmall: 576px,
    small: 768px,
    medium: 992px,
    large: 1200px,
    xlarge: 1400px
); 